@import "tailwindcss";

body {
  font-family: 'Poppins', sans-serif;
}


/* hide scrollbar completely */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
